<% if song.errors.any? %>
<div id="error_explanation">
  <h2>Your request was unsuccessful. See the errors below for guidance:</h2>

   <ul>
    <% song.errors.full_messages.each do |message| %>
    <li> <%= message %> </li>
    <% end %>
  </ul>
</div>
<% end %>